/*-----------------------------Header Section---------------------------*/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.headerLeft>a {
  text-decoration: none;
  color: black;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
}

.headerMid {
  display: flex;
  align-items: center;
  gap: 80px;
}

.headerMid>a {
  text-decoration: none;
  color: black;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

.headerMid>a:hover {
  color: #B88E2F;
  transition: width 0.9s;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 33px;
}

.headerRight>a {
  text-decoration: none;
  color: black;
}

.headerIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.headerIcon:hover svg,
.headerIcon:hover path {
  color: #B88E2F;
  transition: width 0.9s;
}

.headerLogo {
  width: 55px;
  height: 60px;
}

/*-----------------------------Header Section End---------------------------*/

/*-----------------------------PageTitle Section---------------------------*/
.pageTitle {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 316px;
  background-size: cover;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.pageTitle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/images/backgroundTable.jpg');
  /* Substitua pelo URL da sua imagem */
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  /* Ajuste o valor do blur conforme necessário */
  z-index: 1;
}

.pageTitleContent {
  position: relative;
  z-index: 2;
  display: inline-block;
}

.pageTitleTop>h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
}

.pageTitleBot {
  display: flex;
  justify-content: space-between;
}

.pageTitleBot>p {
  font-family: Poppins;
  line-height: 24px;
  text-align: left;
}

.pageTitlePath {
  font-weight: 500;
  font-size: 16px;
}

.pageTitleSymb {
  font-size: 20px;
}

.pageTitleCurrent {
  font-weight: 300;
  font-size: 16px;
}

/*-----------------------------PageTitle Section End---------------------------*/

/*-----------------------------Grid Section---------------------------*/
.gridControler {
  width: 100%;
  height: 100px;
  background-color: #F9F1E7;
  display: flex;
  align-items: center;
}

.gridControlerContent{
  width: 100%;
  display: flex;
  margin: 0 7% 0 7%;
  height: 37px;
  align-items: center;
  justify-content: space-between;
}

.gridContent {
  width: 100%;
  height: 200px;
}

.gridPageControler {
  width: 100%;
  height: 100px;
  background-color: #F9F1E7;
}

.filter-options {
  position: absolute;      
  background-color: rgb(144, 142, 142);
  background-color: #f9f1e7c6;
  padding: 5px;
  left: -5px;
  border-radius: 10px;    
  z-index: 1000;
}

.filter-options > button {  
  font-family: Poppins;
  font-size: 15px;
  padding: 2px;
  text-align: left;
  border: none;
  border-bottom: 2px solid #B88E2F;
  transition: 0.4s;
  border-radius: 5px;
}

.filter-options > button:hover {
  background-color: #b1b0b0;
}

.filterButton {
  display: flex;  
}

.filterButton, .filterIcon{
  cursor: pointer;
  height: 23px;  
  border: none;
  font-weight: 100;
  margin-right: 12px;
}

.filterSpecs{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;    
}

.gccLeft{
  display: flex;
}

.gccLeftFilter{
  position: relative;
  display: inline-block;
}

.filterInfo{
  margin-left: 30px;
  padding-left: 36px;
  border-left: 2px solid #9F9F9F;    
}

.filterInfo > p{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.gccRight{
  display: flex;
  align-items: center;
}

.gccRight > p {
  margin-right: 17px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gccRight > input[type="number"] {
  font-family: Poppins;
  font-size: 20px;
  color: #9F9F9F;
  border: none;  
  width: 25px;  
  padding: 12.5px 15px;
}

.gccRight > input[type="number"]:focus {
  outline: none;
}
/*-----------------------------Grid Section End---------------------------*/

/*-----------------------------Info Quality Section---------------------------*/
.infoQuality {
  display: flex;
  width: 100%;
  height: 270px;
  background-color: #FAF3EA;
  align-items: center;
}

.infoQualityContent {
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoQualityItem {
  gap: 10px;
  text-align: left;
  display: flex;
}

.infoQualityIcon {
  width: 60px;
  height: 60px;
  color: #242424;
}

.infoQualityText>h1 {
  font-family: Poppins;
  color: #242424;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
}

.infoQualityText>p {
  font-family: Poppins;
  color: #898989;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/*-----------------------------Info Quality Section End---------------------------*/

/*-----------------------------Footer Section---------------------------*/
.footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;

}

.footerContent {
  margin: 48px 7% 38px 7%;
  width: 100%;
  display: block;
}

.footerContentTop {
  display: flex;
  justify-content: space-between;


}

.footerContentBot>p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin-top: 83px;
}

.fctItens {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.fctItens li {
  margin-top: 45px;
}

.fctItens p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #9F9F9F;
  margin-bottom: 10px;
}

.fctItens ul,
p {
  list-style-type: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.fctItens ul>li>a {
  text-decoration: none;
  color: black;
}

.fctStreet>p {
  margin-top: 50px;
  margin-left: 2px;
  max-width: 285px;
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.fctNewsletter {
  margin-right: 15%;
}

.fctNewsletter input {
  margin-top: 34px;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 11px;
  line-height: 21px;
  font-size: 16px;
}

.fctNewsletter button {
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 11px;
}

.fctNewsletter input[type="text"]:focus {
  outline: none;
  /* Ensure no outline on focus */
  border-bottom: 1px solid black;
}

.error {
  font-size: 14px;
  display: block;
  color: red;
  margin-top: 5px;
}

.sucess {
  font-size: 14px;
  display: block;
  color: rgb(37, 142, 37);
  margin-top: 5px;
}

/*-----------------------------Footer Section End---------------------------*/